<nav class="navbar">
  <div class="container">
    <a class="navbar-brand">Deep Fried Travels</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li> 
      <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/theteam">The Team</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/contactus">Contact Us</a></li>
    </ul>
  </div>
</nav>
