p {
    color: #ccc;
    font-family: courier new;
    font-size: 18px;
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: courier new;
    text-decoration: bold;
}

.deep {
    font-family: Arial;
}