h1 {
    text-align: center;
    text-decoration: underline;
    font-family: courier new;

}
img {
     padding-left:200px;
     max-width: 100%;
     height: auto;
}
.Deep {
    color: #ccc;
}
.Fried {
    color: #ccc;
}
.Travels {
    color: #ccc;
}
